body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 0;
    padding: 0.4px 0;
    text-align: center;
    background-color: #8373b2;
    box-sizing: border-box;
    color: white;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}


nav button {
    background-color: #5a4696;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.nav button:hover {
    background-color: #66559a;

}


form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}


form input,
form select {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


form button {
    background-color: #403072;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
}


form button:hover {
    background-color: #604f90;
}


.painel {
    display: none;
}


.painel.ativo {
    display: block;
}

.lista {
    border-top: 2px solid #ccc;
    padding-top: 15px;
}

.item {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mensagem {
    margin-top: 15px;
    padding: 12px;
    display: none;
    border-radius: 5px;
}

.mensagem.sucesso {
    background-color: #d4edda;
    color: #155724;
}

.mensagem.erro {
    background-color: #f8d7da;
    color: #721c24;
}

.botoes {
    background-color: #ab1f2d;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin: 5px;
    align-items: center;
    font-weight: bold;

}

.botoes:hover {
    background-color: #721c24;
}